GPUtil
einops
fastcluster
flask-cors==3.0.10
jupyter
kornia
matplotlib
mediapy
opencv-python
pandas
pillow
plotly
pycocotools
python-socketio
pyngrok>=4.1.6
pyzmq>=17.0.0
scipy
setuptools>=60
tensorboard>=2.2.0
test-tube
torch
torchgeometry
tornado>=4.0.0
tqdm
u-msgpack-python>=2.4.1